body {
  margin: 0;
  font-family: "HiraMinProN-W6";
  background-color: white;
}

a {
  text-decoration: none;
}

header {
  height: 75px;
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 140px;
  margin-top: 20px;  
  margin-left: 100px;
  float: left;
}

a.header-center:hover {
  opacity: 1;
}

.header-center a {
  margin: auto;
  line-height: 75px;
  padding: 0 60px;
  color: black;
  opacity: 0.8;
  text-align: center;
}

.top-wrapper img{
  width: 100%;
}

.product-wrapper {
  padding-bottom: 80px;
  background-color: white;
  text-align: center;
}
.product-wrapper container {
  width: 70%;
}

.heading {
  padding-top: 60px;
  padding-bottom: 30px;
}

.heading h2 {
  font-weight: normal;
  text-align: center;
  font-size: 30px;
  color: #524748;
}

.product {
  float: left;
  width: 25%;
}

.product-icon {
  position: relative;
}

.product-icon p {
  position: absolute;
  top: 90px;
  width: 100%;
  color: white;
}

.txt-contents {
  width: 100%;
  display: inline-block;
  margin-bottom: 25px;
  font-size: 20px;
  color: #524748;
}
