body {
  margin: 0;
  font-family: "HiraMinProN-W6";
}

a {
  text-decoration: none;
}

body{
  background-color: #ffaf0;
}

header {
  height: 65px;
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 10;
}
