body {
  margin: 0;
  font-family: "HiraMinProN-W6";
  background-color: white;
}

a {
  text-decoration: none;
}

header {
  height: 75px;
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 140px;
  margin-top: 20px;  
  margin-left: 100px;
  float: left;
}

a.header-center:hover {
  opacity: 1;
}

.header-center a {
  margin: auto;
  line-height: 75px;
  padding: 0 60px;
  color: black;
  opacity: 0.8;
  text-align: center;
}

.top-wrapper img{
  width: 100%;
}

.puroduct-wrapper container{
  text-align: center;
  margin: 30px 70px;
}

.heading h2{
  text-align: center;
  padding-top: 60px;
  padding-bottom: 30px;
  font-size: 30px;
  color: #524748;
}

.products {
  width: 80%;
  margin: 30px 30px;
}

.product {
  width: 25%;
}

.product-wrapper img{
  width: 100%;
}

.product-icon h3{
 font-size: 25px;
  color: #524748;
}

.product-icon p {
  color: #524748;
}

.txt-contents {
  font-size: 20px;
  color: #524748;
}

